<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="waves">
    </div>
    <ul class="icons-social">
        <li>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </li>
        <li>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#skills">Skills</a>
        </li>
        <li>
            <a href="#projects">Projects</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
    <p>Copyright © Valentina Ramirez. All Rights Reserved</p>
</footer>